html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a556c;
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  padding-left: 5px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: -5px;
}
.nav__list {
  display: flex;
  margin-right: 27px;
}
.nav__item {
  padding-right: 30px;
}
.nav__item:last-child {
  padding-right: 0;
}
.nav__link {
  color: inherit;
  letter-spacing: -0.02em;
  font-size: 15px;
  line-height: 24px;
}
.nav__btn {
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  color: #ffffff;
  padding: 11px 16px;
  background: #20ad96;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.intro {
  background: #faf8f6;
  padding: 92px 166px 92px 86px;
  margin: 0 -80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__info {
  width: 545px;
  padding-top: 84px;
}
.intro__suptitle {
  letter-spacing: -0.02em;
  opacity: 0.4;
  line-height: 150%;
  margin-bottom: 6px;
}
.intro__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333461;
  margin-bottom: 30px;
}
.intro__text {
  font-size: 18px;
  line-height: 160%;
}
.intro__img {
  max-width: 462px;
  width: 100%;
  object-fit: contain;
}

.info {
  padding: 96px 0;
}
.info__title {
  font-size: 48px;
  line-height: 44px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  color: #333461;
  margin-bottom: 20px;
}
.info__subtitle {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 64px;
}
.info__list {
  margin-bottom: 32px;
}
.info__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.info__list-link {
  cursor: pointer;
}
.info__list-list {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #101828;
  margin-bottom: 8px;
}
.info p {
  line-height: 24px;
  max-width: 720px;
}
.info__footer {
  padding: 32px 0;
  margin: 0 32px;
  background: #faf8f6;
  border-radius: 16px;
  text-align: center;
}
.info__footer-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 8px;
}
.info__footer-subtitle {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
.info__footer-link {
  padding: 10px 78.5px;
  border-radius: 8px;
  background: #20ad96;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.info__list-btn img {
  transition: transform 0.3s ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

summary::marker {
  display: none;
  font-size: 0;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  body {
    padding: 0 10px;
  }
  .header {
    position: relative;
    overflow: hidden;
  }
  .nav {
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    text-align: center;
    transform: translateX(100px);
    transition: all 0.5s ease-in-out;
  }
  .nav__item {
    padding: 20px 0;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    width: 100%;
  }
  .nav__item {
    padding-right: 0;
  }
  .header.active {
    overflow: visible;
  }
  .header.active .nav {
    display: block;
    transform: translateX(0);
  }
  .intro {
    margin: 0 auto;
    padding: 10px;
    flex-direction: column;
  }
  .intro .intro__info {
    padding-top: 10px;
    width: auto;
    text-align: center;
  }
  .intro .intro__title {
    font-size: 32px;
  }
  .info {
    padding: 40px;
  }
  .info__title {
    font-size: 28px;
    line-height: 32px;
  }
  .info__list-item {
    position: relative;
  }
  .info__list-btn {
    position: absolute;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
  }
  .info__footer {
    padding: 0;
    margin: 0;
  }
  .info__footer-link {
    padding: 5px 10px;
  }
  .info__list-list {
    font-size: 14px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
